* {
  margin: 0px;
  box-sizing: border-box;
}

.bg-container {
  min-height: 100vh;
}

.search-container {
  background-color: #3367d6;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  background-color: #2850a7;
  border: 1px solid #6697ff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  border-right: 1px solid #6697ff;
  padding: 8px;
}

.input {
  background-color: #2850a7;
  color: #ffffff;
  font-family: 'Roboto';
  padding-left: 12px;
  font-size: 16px;
  width: 170px;
  border: none;
  outline: none;
}

.history-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.history-items {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 100%;
  margin: 18px;
  padding: 12px;
  margin-bottom: auto;
}

.no-history {
  font-family: 'Roboto';
  color: #475569;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .input-container {
    margin-right: 300px;
  }
  .input {
    width: 400px;
  }
}
