* {
  margin: 0px;
  box-sizing: border-box;
}

.history-item {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 18px;
}

.history-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-site-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.history-time {
  font-family: 'Roboto';
  color: #64748b;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  margin-right: 28px;
}

.history-app-icon {
  height: 30px;
  width: 30px;
}

.history-site {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.site-name {
  font-family: 'Roboto';
  color: #475569;
  font-weight: 500;
  font-size: 14px;
  margin-right: 8px;
}

.site {
  font-family: 'Roboto';
  color: #64748b;
  font-size: 16px;
}

.delete-btn {
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .history-item {
    flex-direction: row;
    align-items: center;
  }
  .history-site {
    flex-direction: row;
    align-items: center;
  }
  .history-site-info {
    align-items: center;
  }
  .history-info {
    align-items: center;
    width: 92%;
  }
}
